[Desktop Entry]
Type=Application
Name=Ragasiyangal
Comment=A simple secure Password Manager
Exec=/opt/ragasiyangal/ragasiyangal
Icon=/opt/ragasiyangal/ragasiyangal.png
Categories=Office;
